<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>TabletzPharma</title>
</head>
<body>
    <div class="container" style="background: rgb(238,139,164);
    background: linear-gradient(90deg, rgba(238,139,164,1) 0%, rgba(242,88,130,1) 35%, rgba(250,254,255,1) 100%); padding-top: 5%; text-align: center;">
        <h1 style="color: crimson; font: bolder; font-size: xx-large;">Page Under Maintainence</h1>
    </div>
</body>
</html>